<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edge Node</title>
    <!--  jQuery,Bootstrap  -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!--   jsGrid CDN    -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <!--   jsGrid Script   -->
    <script type="text/javascript" src="static/js/jsgrid.js"></script>
    <!--  MENU  -->
    <link type="text/css" rel="stylesheet" href="static/css/menu.css"/>
    <script type="text/javascript" src="static/js/menu.js"></script>
     <!--  POP_UP  -->
    <script type="text/javascript" src="static/js/macro.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/macro.css">

    <script>
    $(document).ready(function(){
        setjsg_data();
        pop_up_ready();
    });
    </script>
</head>


<body>
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">应用接口</a>
    <a href="/model">模型管理</a>
    <a href="/data">数据集管理</a>
    <a href="/setting">设置</a>
    </div>
    <div id="main">
    <span style="font-size:30px;cursor:pointer;color:black" onclick="openNav()">&#9776; MENU</span>
    <h2>数据集管理 - FER2013</h2>

    <div id="jsGrid"></div>
    <p align="right">当前收集数据集：     <label>{{current_dataset}}</label></p>
    </div>
	<!-- 弹窗内容开始 -->
	<div id="background" class="back">
		<div id="div1" class="content">
			<div id="close">
				<span id="close-button">×</span>
				<h3>训练</h3>
			</div>
			<div id="div2">
                <form method="post" action="/model/train" enctype="multipart/form-data">
                <p> </p>
                <p><label>训练步数：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                <input type="text" class="txt_input" name="training_steps"/></p>
                <p><label>BATCH SIZE：</label>
                <input type="text" class="txt_input" name="batch_size"/></p>
                <p>Train from Scratch<input type="checkbox" name="from_scratch"></p>
                <input id = "input_id" type="hidden" name="item_id">
                <p align="right"><input type="submit" value="提交信息" class="button-new" style="margin-top:15px;"/><p/>

                </form>
            </div>
		</div>
	</div>
</body>


</html>
