<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edge Node</title>
        <!--  jQuery,Bootstrap  -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <!--   jsGrid CDN    -->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <!--   jsGrid Script   -->
        <script type="text/javascript" src="static/js/jsgrid.js"></script>
        <!--  MENU  -->
        <link type="text/css" rel="stylesheet" href="static/css/menu.css"/>
        <script type="text/javascript" src="static/js/menu.js"></script>

        <script>
        $(document).ready(function(){
            $("#feedback").hide();
            $("#btn1").click(function(){
                $.post("/model/run",
                {
                    path:$("#show_imp_path").text()
                },
                function(data,status){
                    alert("数据: \n" + data + "\n状态: " + status);
                    $("#ans").text("预测结果："+data)
                    $("#feedback").show()
                });
            });
            $("#btn2").click(function(){
                $.post("/data/mark",
                {
                    label:$("input[name='fbr']:checked").val(),
                    path:$("#show_imp_path").text()
                });
            });
        });

<!--        function abc(){$.get("/data",-->
<!--                function(data,status){alert();}-->
<!--                );}-->
        </script>
    </head>

    <body>
    <!--侧栏界面设计-->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">应用接口</a>
        <a href="/model">模型管理</a>
        <a href="/data">数据集管理</a>
        <a href="/setting">设置</a>
    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>
        <h2>应用接口 - FER2013</h2>
        <p>点击以下菜单图标打开侧边栏，主体内容向右偏移。主体内容添加黑色透明背景</p>
        <div>
            <form method="post" action="/model/up_photo" enctype="multipart/form-data">
            <input type="file" size="30" name="photo"/>
            <br>
            <input type="text" class="txt_input" name="name" style="margin-top:15px;"/>
            <input type="submit" value="提交信息" class="button-new" style="margin-top:15px;"/>
            </form>
        </div>
        {% if show_img_path %}
        <img src={{show_img_url}} width="200" height="200"/>
        <p>{{show_img_url}}</p>
        <p id="show_imp_path">{{show_img_path}}</p>
        <button id="btn1" type = "submit" >预测</button>
        <p id="ans"></p>
        <p id="feedback">
            <input type="radio" name="fbr" value="0" checked>0
            <input type="radio" name="fbr" value="1" >1
            <input type="radio" name="fbr" value="2" >2
            <input type="radio" name="fbr" value="3" >3
            <input type="radio" name="fbr" value="4" >4
            <input type="radio" name="fbr" value="5" >5
            <input type="radio" name="fbr" value="5" >6
            <input id="btn2" type="submit" value="提交信息" class="button-new" style="margin-top:15px;"/>
         </p>

        {% endif %}
</div>
    </body>


</html>
